<% if @user_latitude == nil %>

<% end %>
    <header>
      <div class="logo--small">
        <img src="img/gph_logo.png" alt="" class="logo--small">
      </div>
      <div class="title">
        <h2>My Events</h2>
      </div>
      <div class="menu">
        <i class="fas fa-bars"></i>
      </div>
    </header>  

<form id="search-form-start">
  Search radius: 
  <input type="number" min='100' max='20000' name="radius" id='radius' placeholder="meters">
  <button id="search-start"><i class="fas fa-search"></i></button>
</form>

<%

  @events = @events.map { |event|
    if (event.place.latitude.to_f - @user_latitude)**2 + (event.place.longitude.to_f - @user_longitude)**2 < @radius**2
      event
    end
  }.compact
  @events = @events.sort_by{ |event|
    (event.place.latitude.to_f - @user_latitude)**2 + (event.place.longitude.to_f - @user_longitude)**2
  }
  @events.each do |event|
%>

  <div class="events__item">
    <div class="events__image" style="background-image: url('<%= event.image_url %>')">
      <div class="events__image-container"><h3 class="events__title"><%= event.name %></h3></div>
    </div>
    <% if !!event.description %>
      <p class="events__description"><%= event.description[0..200] %>...</p>
    <% end %>
    <div class="events__place">
      <p class="events__place__item"><%= event.place.name %></p> <p class="events__place__item">
        <%= 
        dist = (event.place.latitude.to_f - @user_latitude)**2 + (event.place.longitude.to_f - @user_longitude)
      distance = (Math.sqrt(dist.abs) / 10000) ** 2
      if distance < 1000
        distance.to_i
      else
        distance.to_i
      end
         %>m</p>
    </div>
  </div>
  
 <% end %>
  


<script>
function findLocation(event){
  event.preventDefault();
    navigator.geolocation.getCurrentPosition(function(position){ 
      var form = document.getElementById('search-form-start')
      form.action = '/start'
      form.method = 'post'
      var method = document.createElement('input')
      method.name = '_method'
      method.value = 'put'
      var latitude = document.createElement('input')
      latitude.name = 'latitude'
      latitude.value = position.coords.latitude
      var longitude = document.createElement('input')
      longitude.name = 'longitude'
      longitude.value = position.coords.longitude
      form.appendChild(method)
      form.appendChild(latitude)
      form.appendChild(longitude)
      form.submit()
    })
  }
    button = document.getElementById('search-start')
    button.addEventListener('click', findLocation)

</script>

